:root {
  --notech-font: "Kumbh Sans", sans-serif;
  --notech-reey-font: "reeyregular";
  --notech-gray: #777181;
  --notech-lightgray: #beccd6;
  --notech-gray-rgb: 119, 113, 129;
  --notech-white: #ffffff;
  --notech-white-rgb: 255, 255, 255;
  --notech-black: #1b1525;
  --notech-black-rgb: 27, 21, 37;
  --notech-base: #6653e8;
  --notech-base-rgb: 102, 83, 232;
  --notech-primary: #2be4ac;
  --notech-primary-rgb: 43, 228, 172;
  --notech-extra: #f7f7f9;
  --notech-extra-rgb: 247, 247, 249;
  --notech-bdr-color: #e9e9ee;
  --notech-bdr-color-rgb: 233, 233, 238;
}
.dark p {
  color: var(--notech-lightgray) !important;
}
/* .w-10 {
  width: 10%;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-90 {
  width: 90% !important;
}
.on-switcher {
  left: 200px !important;
}
.welcome-three__img {
  top: -100px;
}
.welcome-three__img img {
  width: 400px;
} */
.we-stand__progress .bar-inner {
  background-color: var(--notech-primary) !important;
}

/* Dark mode css  */
.dark {
  background-color: var(--notech-black);
}
.dark .main-header-two,
.dark .main-header .main-header-two .main-menu .main-menu-two {
  background-color: transparent !important;
}
.dark .main-menu .main-menu__list li ul,
.dark .stricky-header .main-menu__list li ul,
.dark .stricky-header.main-menu,
.dark .main-header,
.dark .main-header__top {
  background-color: var(--notech-black);
  color: var(--notech-extra) !important;
}
.dark .main-header__top-inner {
  border-bottom: 1px solid rgba(var(--notech-white-rgb), 0.1);
}
.dark .main-menu a,
.dark .main-header__top-address li .text p a,
.dark .main-header__top a,
.dark .main-menu__search {
  color: var(--notech-extra) !important;
}

.dark .main-header__top-address li .text p a:hover,
.dark .main-header__top a:hover,
.dark .main-menu__search:hover {
  color: var(--notech-primary) !important;
}
.dark .main-menu .main-menu__list > li > a.active,
.dark .stricky-header .main-menu__list > li > a.active,
.dark .main-menu .main-menu__list > li > a:hover,
.dark .stricky-header .main-menu__list > li > a:hover {
  border-bottom: 2px solid var(--notech-primary);
}
.dark .main-header__top-address li .icon span {
  color: var(--notech-primary);
}
.dark .main-menu-two .main-menu__search-box::before,
.dark .main-menu__search-box::before {
  background-color: rgba(var(--notech-white-rgb), 0.1);
}

.dark .section-title__title,
.dark .why-choose-one__tab-box .tab-buttons .tab-btn span,
.dark .welcome-three__icon-text,
.dark .why-choose-one__points li .text p,
.dark .we-stand__progress-title,
.dark .we-stand__progress .count-text,
.dark .service-details__content-title,
.dark .faq-one-accrodion .accrodion-title h4,
.dark .trusted-company__points li .text p {
  color: var(--notech-extra);
}
.dark .project-two::before {
  background: var(--notech-black) !important;
}
.dark .service-details__faq {
  border: 1px solid var(--notech-bdr-color);
}
.dark .faq-one-accrodion .accrodion {
  border-bottom: 1px solid var(--notech-gray);
}
